* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #e8e9f3;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Sopa {
    margin-top: 30px;
    width: 550px;
    height: 550px;
    padding: 1px;
    border-radius: 10%;

  }
  .Letra {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    text-align: center;
    border: 1px solid black;
    
  }
  .SLetra {
      background-color: #ffffff;
      width: 45px;
      height: 45px;
      text-align: center;
      border: 1px solid black;
    }
    button{
        margin: 10px;
        padding: 10px;
    }
    footer{
      text-align: center;
      background-color:#96e072 ;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid black;
      display: grid;
      grid-template-rows: 40% 60%;
      margin: 5% 10%;
    }